@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 90,25,155;
  --foreground: 157,78,221;
  --background: 17,0,44;
}


/* Turn on When Developing Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: 255, 255, 255;
    --background: 0, 0, 0;
  }
} */

* {
  @apply font-titillium;
}